@font-face {
  font-family: 'Game Cube';
  src: URL('/fonts/GameCube.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #09122c;
  /*background: radial-gradient(ellipse at right bottom, #344955 0%, #09122c 100%);*/
  font-family: "Game Cube";
}

.title {
  font-family: "Game Cube";
  text-transform: uppercase;
}

.container {
  width: min(900px, 90%);
}

nav h1 {
  letter-spacing: .2em;
  font-weight: 800;
  text-shadow: 2px 2px #999;
}

.plane {
  position: absolute;
  transform: rotate(90deg);
  left: 0px;
  top: 0px;
}

.svg-map {
  width: 600px;
  height: 500px;
}

.svg-map.mobile {
  display: none;
}

.svg-map.desktop {
  display: block;
}

.map-container {
  width: 600px;
  height: 500px;
  position: relative;
}

.planet-1 {
  position: absolute;
  top: 00px;
  right: -20px;
}

.planet-2 {
  position: absolute;
  top: 190px;
  left: 10px;
}

.planet-3 {
  position: absolute;
  right: -10px;
  bottom: 80px;
}

.planet {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.planet img {
  animation: rotate var(--rotation-duration) linear infinite;
}

.planet h2 {
  font-size: .5em;
}

.page {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition-duration: 800ms;
  transform: translateY(100vh);
  background: #09122c;
  color: white;
}

#page-farhannivta svg * {
  stroke-dashoffset: var(--line-length);
  stroke-dasharray: var(--line-length);
  transition: stroke-dashoffset 2s ease-in-out;
}

#page-farhannivta svg .line-2 {
  transition-delay: 2s;
}

#page-farhannivta svg line {
  transition-delay: 1.5s;
}

#page-farhannivta svg rect {
  transition-delay: 3s;
}

#page-farhannivta.active svg * {
  stroke-dashoffset: 0;
}


/*#namaku circle {*/
/*  stroke-dasharray: 100;*/
/*  animation: textAnimation 2s ease-in-out 1 forwards;*/
/*}*/
/**/
/*#namaku.active line {*/
/*  stroke-dasharray: 100;*/
/*  animation-delay: 2s;*/
/*  animation: textAnimation 2s ease-in-out 1 forwards;*/
/*}*/
/**/
/*#namaku.active rect {*/
/*  animation-delay: 4s;*/
/*  animation: textAnimation 2s ease-in-out 1 forwards;*/
/*}*/

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 100;
  }

  80% {
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: min(800px, 90%);
}

.page.active {
  transform: translateY(0);
}

#page-farhannivta .container {
  overflow-x: hidden;
}

#page-challenge {}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.separator-t {
  border-top: 1px solid white;
  padding-top: 4px;
}

/*typing test*/

.typing-test-container {
  max-width: min(900px, 90%);
}

.text {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.word {
  display: flex;
  gap: 4px;
  font-size: 1.3rem;
  font-family: 'Inter', sans-serif;
}

letter {
  position: relative;
  user-select: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  user-select: none;
}

letter.correct {
  color: #fff;
}

letter.wrong {
  color: red;
}

letter.wrong.extra {
  color: rgba(255, 0, 0, .5);
}

letter.active::before {
  content: '|';
  color: white;
  position: absolute;
  left: -6px;
}

#page-project ul {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

#page-project ul li {
  width: 49%;
  border: 1px solid white;
  padding: 4px;
  border-radius: 6px;
  margin-bottom: 12px;
}

#page-project ul li h1 {
  font-size: 1.2rem;
  border-top: 1px solid white;
  padding-top: 12px;
}

#page-project ul li p {
  font-size: .8rem;
  padding-top: 4px;
}

#wordInput {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

#wordInput:focus {
  outline: none;
}

#astronout-guider-container img {
  transform: rotate(15deg) translateY(100%);
  transition-duration: 2s;
}

#astronout-guider-container.active img {
  transform: rotate(15deg) translateY(0);
}

#astronout-guider-container p {
  opacity: 0;
  transition-duration: 1s;
}

#astronout-guider-container.active p {
  opacity: 1;
  transition-delay: 1s;
}

@media only screen and (max-width: 600px) {
  nav h1 {
    text-align: center;
    font-size: 1.2rem;
  }

  .svg-map.desktop {
    display: none;
  }

  .svg-map.mobile {
    display: block;
  }

  nav {
    padding-bottom: 20vh;
  }

  .map-container {
    width: 350px;
  }

  #page-project ul li {
    width: 100%;
    border: 1px solid white;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 12px;
  }

  #astronout-guider-container {
    position: relative;
    width: 100vw;
    height: 35vh;
  }

  #astronout-guider-container img {
    height: 230px;
  }

  #astronout-guider-container p {
    position: absolute;
    left: 100px;
  }
}
